export default {
     openGraph: {
        type: 'website',
        locale: 'en_IE',
        url: 'https://suisseGPT.ai',
        site_name: 'SuisseGPT - Private Hosted enterprise AI',
      },
    twitter: {
       handle: '@suisseai',
       site: '@suisseai',
       cardType: 'summary_large_image',
     }
};
